@charset "UTF-8";
/*! mobile view */

@media (max-width: 1280px) {
  .hidemedium {
    display: none !important;
  }
}

@media (max-width: 980px) {
  .product-card-container .homecard {
    margin-top: -3vh;
    margin-bottom: 9vh;
  }
}

@media (max-width: 768px) {
  .hidesmall {
    display: none !important;
  }

  .flex-md-bottom {
    -webkit-align-self: flex-end !important;
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }

  .padding, .padding-right, .padding-left {
    padding: .7rem;
  }

  .trialForm .hs-form-field, .standardForm .hs-form-field {
    float: left;
    width: 50%;
  }
  div.trialForm .hs-form .hs-button, div.standardForm .hs-form .hs-button {
    left: auto;
  }

  div.main-header {
    height: 100%;
    min-height:90vh;
  }

  #teqBlog article:nth-child(1n+0) {
    position: relative;
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    margin-right: 1rem;
    float: left;
    top: 0;
    left: 0;
    right: 0;
  }

  div.instructionalSoftware, div.whiteboards-smart-kappBg, div.tech-tubs-twoBg, div.cloudgenix-central-controlBg {
    background-position: left top;
  }
  div.sightSound, div.safe-systemBg, div.accessories-coversBg {
    background-position: right top;
  }
  div.conceptsMap {
    background: white url(../_img/classroomconcepts-browser-window.svg) no-repeat center top;
  }

  div.fadingContent .scrollFade:not(:first-child)  {
    margin-top: 0;
  }

}

@media (max-width: 425px) {
  h1, h2, h3, h4, h5, h6, p, small, blockquote, a {
    padding: 0 5px;
  }

  .padding, .padding-right, .padding-left {
    padding: .1rem;
  }

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: .8rem;
  }
  section {
    padding-top: 3rem;
  }
  .display-1, h1.display-1, .display-2, h1.display-2, .display-4, h1.display-h4 {
    font-size: 2.25rem;
  }
  .height-three-quarters {
    height: 50% !important;
    min-height: 51vh !important;
  }

  nav#mainNav {
    position: relative;
  }

  .navbar-nav > li.nav-item {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .trialForm .hs-form-field, .standardForm .hs-form-field {
    width: 100%;
  }
  div.trialForm .hs-form .hs-button, div.standardForm .hs-form .hs-button {
    left: auto;
  }

  .trialFormOpen {
    margin-top: 0;
  }

  button.trialClose {
    position: relative;
    left: 75%;
  }

  button.trialScroll, .scrollFade img {
    display: none !important;
  }

  div.row.bottomGradient {
    display: table;
    width: 100%;
  }

  div.row.bottomGradient div.container.flex-md-bottom {
    display: table-cell;
    vertical-align: bottom;
  }

  div.main-header {
    height: 50vh !important;
    min-height: 50vh !important;
  }

}
