Redirect 301 /ssba https://www.teq.com/sight-and-sound/smart-board-mx/
Redirect 301 /gettingstarted http://onlinepd.teq.com/index/getting-started
Redirect 301 /CTLE-Approved http://www.teq.com/state-approved
Redirect 301 /ctle-approved http://www.teq.com/state-approved
Redirect 301 /ctle http://www.teq.com/state-approved
Redirect 301 /support http://www.teq.com/support-and-service
Redirect 301 /professional-development/mentoring-and-coaching http://www.teq.com/pd-platforms/onsite-pd
Redirect 301 /opd-deployment http://www.teq.com/otis-deployment
Redirect 301 /opd-newusers http://www.teq.com/otis-newusers
Redirect 301 /opdredeem http://www.teq.com/otisredeem

Redirect 301 /ultimaker http://www.teq.com/steam/ultimaker-3d-printer
Redirect 301 /product-offerings/smart-board-7000-series http://www.teq.com/sight-and-sound/smart-board-7000
Redirect 301 /product-offerings/smart-board-6000-series http://www.teq.com/sight-and-sound/smart-board-6000/
Redirect 301 /product-offerings/smart-kapp http://www.teq.com/sight-and-sound/smart-kapp/
Redirect 301 /product-offerings/smart-document-camera http://www.teq.com/sight-and-sound/smart-document-camera/
Redirect 301 /professional-development/mentoring-and-coaching http://www.teq.com/pd-platforms/onsite-pd
Redirect 301 /product-offerings/copernicus-irover2 http://www.teq.com/irover2/
Redirect 301 /product-offerings/copernicus http://www.teq.com/sight-and-sound/accessories/
Redirect 301 /support-and-service http://www.teq.com/support-and-services/
Redirect 301 /product-offerings/conen-mounts http://www.teq.com/sight-and-sound/wall-mounts-mobile-stands/

Redirect 301 /classroomplan/brentwood http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/enlarge http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/esm http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/liverpool http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/poughkeepsie http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/sachem http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/schenectady http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/uticacity http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/williamfloyd http://www.teq.com/classroomplanny/
Redirect 301 /classroomplan/romecity http://www.teq.com/classroomplanny/

Redirect 301 /BrewsterCentral http://www.teq.com/classroomplanny/
Redirect 301 /ChappaquaCentral http://www.teq.com/classroomplanny/
Redirect 301 /CornwallCentral http://www.teq.com/classroomplanny/
Redirect 301 /DoverUnionFree http://www.teq.com/classroomplanny/
Redirect 301 /FloridaUnionFree http://www.teq.com/classroomplanny/
Redirect 301 /GoshenCentral http://www.teq.com/classroomplanny/
Redirect 301 /HaldaneCentral http://www.teq.com/classroomplanny/
Redirect 301 /HendrickHudson http://www.teq.com/classroomplanny/
Redirect 301 /HighlandFalls-FortMontgomeryCentral http://www.teq.com/classroomplanny/
Redirect 301 /HydeParkCentral http://www.teq.com/classroomplanny/
Redirect 301 /Katonah-Lewisboro http://www.teq.com/classroomplanny/
Redirect 301 /KiryasJoelVillageUFSD http://www.teq.com/classroomplanny/
Redirect 301 /LakelandCentral http://www.teq.com/classroomplanny/
Redirect 301 /LivingstonManorCentral http://www.teq.com/classroomplanny/
Redirect 301 /MahopacCentral http://www.teq.com/classroomplanny/
Redirect 301 /MarlboroCentral http://www.teq.com/classroomplanny/
Redirect 301 /MillbrookCentral http://www.teq.com/classroomplanny/
Redirect 301 /MinisinkValleyCentral http://www.teq.com/classroomplanny/
Redirect 301 /Monroe-WoodburyCentral http://www.teq.com/classroomplanny/
Redirect 301 /MonticelloCentral http://www.teq.com/classroomplanny/
Redirect 301 /NewRochelle http://www.teq.com/classroomplanny/
Redirect 301 /NorthSalemCentral http://www.teq.com/classroomplanny/
Redirect 301 /NyackUnionFree http://www.teq.com/classroomplanny/
Redirect 301 /PawlingCentral http://www.teq.com/classroomplanny/
Redirect 301 /RhinebeckCentral http://www.teq.com/classroomplanny/
Redirect 301 /RoscoeCentralSchools http://www.teq.com/classroomplanny/
Redirect 301 /SomersCentral http://www.teq.com/classroomplanny/
Redirect 301 /SpackenkillUnionFree http://www.teq.com/classroomplanny/
Redirect 301 /Tri-ValleyCentral http://www.teq.com/classroomplanny/
Redirect 301 /TuxedoUnionFree http://www.teq.com/classroomplanny/
Redirect 301 /ValleyCentral http://www.teq.com/classroomplanny/
Redirect 301 /WappingersCentral http://www.teq.com/classroomplanny/
Redirect 301 /WashingtonvilleCentral http://www.teq.com/classroomplanny/
Redirect 301 /WebutuckCentral http://www.teq.com/classroomplanny/
Redirect 301 /YorktownCentral http://www.teq.com/classroomplanny/

Redirect 301 /nypublic-25-29 http://www.teq.com/classroomplanny/
Redirect 301 /nypublic-27-28 http://www.teq.com/classroomplanny/
Redirect 301 /nycqueens-nonpublic-25-29 http://www.teq.com/classroomplanny/
Redirect 301 /nycqueens-nonpublic-27-28 http://www.teq.com/classroomplanny/
Redirect 301 /marylouisacademy http://www.teq.com/classroomplanny/
Redirect 301 /rockaway-township http://www.teq.com/classroomplan/

Redirect 301 /classroomplan/oldbridgetownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/oldbridgetownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/bellevillenj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/bloomfieldnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/bridgewater-raritan http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/camdennj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/cherryhillnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/cliftonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/deptfordnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/eastbrunswicknj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/edisontownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/eggharbornj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/elizabeth http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/freeholdregional http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/hopewellvalleynj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/howelltownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/irvingtonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/jacksonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/kearny http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/linden http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/livingstonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/longbranch http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/manalapanenglishtown http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/marlborotownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/middletowntownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/millvillenj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/monroetownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/montclair  http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/morrisnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/newark http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/newbrunswicknj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/northbergennj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/northbrunswicktownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/orangenj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/patersonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/pennsaukennj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/perthamboy http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/piscatawaytownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/plainfield http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/ridgewoodnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/sayreville http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/scotchplainsfanwood http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/southbrunswicknj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/southorange-maplewoodnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/summitnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/tenaflynj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/trentonnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/unioncity http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/uniontownship http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/washingtontownshipnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/westfieldnj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/westnewyork http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/westorangenj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/winslownj http://www.teq.com/classroomplan/
Redirect 301 /classroomplan/woodbridgetownship http://www.teq.com/classroomplan/

Redirect 301 /iblocks http://iblocks.teq.com/
Redirect 301 /iblocks/iblock-samples http://iblocks.teq.com/sample-collateral/

Redirect 301 /remote-learning.html https://www.teq.com/remote-learning/


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

Options -Indexes


# END WordPress
